* {
    box-sizing: border-box;
}

.mail-preview {
    font-size: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 12fr 2fr;
    gap: 1em;
    border-radius: 2px;
    border: 1px solid black;
    text-decoration: none;
    margin: 2px;
    background-color: #ffffff;
    /* height: 100%; */
    padding: 1.2%;
    align-items: center;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.mail-preview.opened {
    background-color: #f2f6fc;
}

.mail-preview ul {
    padding: 0;
    margin: 0;
}

.mail-preview p {
    font-size: 1rem;
}

.mail-preview .subject {
    font-weight: 600;
}

.mail-preview .subject span {
    font-weight: 300;
    color: gray;
}

.mail-preview:hover {
    border-bottom: 1.5px black solid;
}