.mail-navbar {
    display: grid;
    gap: 1em;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.mail-navbar .nb-btn {
    display: flex;
    /* יציב את האלמנטים בשורה אחת */
    align-items: center;
    /* מיישר את התוכן למרכז הרשימה */
    padding: 8px 12px;
    /* מרווח לפני ואחרי האלמנט */
    cursor: pointer;
    /* מציג סמן יד לצד העכבר */
    transition: all 0.2s ease-in-out;
    background-color: #FFFFFF;
    color: #202124;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;

}

.mail-navbar .nb-btn:hover {
    background-color: #eee;
    /* שם צבע רקע אפור בהתאם לדוגמה שציינת */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    /* מגדיל את הצל כשהעכבר נמצא מעל האלמנט */
}