.mail-edit {
    border: 1px black solid;
}

.mail-edit .title {
    background-color: #f2f6fc;
    height: 20%;
}

.mail-edit.modal {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}