.app-header {
    background: var(--main-bg-color);
    /* border-bottom: 2px solid white; */
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: .5em;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.logo {
    font-size: 2em;
    color:#222831;
}

.logo>:first-child {
    color: #393e46;
}

.logo>:nth-child(2) {
    color: #f96d00;
}
.logo>:nth-child(3) {
    color: #7c73e6;
}

nav {
    display: flex;
    align-items: center;
}